.cart-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
  
    gap: 5px;

  }
  
  .cart-product {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 200px;
    
 
  }
  
  .cart-product:hover {
    transform: scale(1.05);
  }
  
  .imgs {
    margin-bottom: 16px;
  }
  
  .imgs img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid blue;

  }
  
  .product-detail h3 {
    margin: 8px 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .product-detail p {
    margin: 8px 0;
    font-size: 1.2em;
    color: #666;
  }
  body{
    background-color: beige;
    

  }
  .product-detail h2{
    border: 1px solid black;
    border-radius: 20px;
  }